.bordered {
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    /* border: 1px solid #eee; */
}

.col-up {
    color: #20e020;
}

.col-down {
    color: #e02020;
}

.col-minus {
    color: #20e0e0;
}
