    <td data-bind="text: data.number"></td>
    <td><span data-bind="if: data.open">open</span><span data-bind="ifnot: data.open">normal</span> </td>
    <td data-bind="numericText: data.balance"></td>
    <!--
    <td data-bind="text: data.created"></td>
    <td data-bind="text: data.last_transaction"></td>
-->