    <td data-bind="text: data.account_number"></td>
    <td data-bind="numericText: data.count"></td>
    <td data-bind="numericText: data.volume"></td>
<!--
    <td data-bind="numericText: data.credit"></td>
    <td data-bind="numericText: data.debit"></td>
-->