<!-- Template for account panel -->

<div class="container">
    <div class="row">
            <div class="col-md-11">
                <div class="alert">
                    Total balance: <span data-bind="numericText: totalBalance"></span>
                </div>
            </div>
    </div>

    <div class="row">
        <div class="col-md-11">
            <div class="alert">
                Top accounts
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-11">
            <table class="table">
                <htead>
                    <th>Account number</th>
                    <th>Type</th>
                    <th>Balance</th>
                    <th>Created</th>
                    <th>Last transaction</th>
                </htead>
                <tbody>
                <!-- ko foreach: topAccounts -->
                <tr data-bind="component: {
                                        name: 'account-info',
                                        params: {
                                            data: $data,
                                        }
                                    }">
                </tr>
                <!-- /ko -->
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-11">
            <div class="alert">
                Recently created accounts
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-11">
            <table class="table">
                <htead>
                    <th>Account number</th>
                    <th>Type</th>
                    <th>Balance</th>
                    <th>Created</th>
                    <th>Last transaction</th>
                </htead>
                <tbody>
                <!-- ko foreach: recentlyCreated -->
                <tr data-bind="component: {
                                        name: 'account-info',
                                        params: {
                                            data: $data,
                                        }
                                    }">
                </tr>
                <!-- /ko -->
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-11">
            <div class="alert">
                Recently active
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-11">
            <table class="table">
                <htead>
                    <th>Account number</th>
                    <th>Type</th>
                    <th>Balance</th>
                    <th>Created</th>
                    <th>Last transaction</th>
                </htead>
                <tbody>
                <!-- ko foreach: recentlyActive -->
                <tr data-bind="component: {
                                        name: 'account-info',
                                        params: {
                                            data: $data,
                                        }
                                    }">
                </tr>
                <!-- /ko -->
                </tbody>
            </table>
        </div>
    </div>


    <!-- optional error -->
    <div class="alert alert-danger" data-bind="visible: error, text: error"></div>

</div>